version: '3'
services:
  web:
    image: r3alst/erc20-ticker:latest
    container_name: mana-ticker
    restart: unless-stopped
    tty: true
    environment:
      FROM_TOKEN: "0x0F5D2fB29fb7d3CFeE444a200298f468908cC942"
      FROM_TOKEN_DECIMALS: "18"
      TO_TOKEN: "0xdAC17F958D2ee523a2206206994597C13D831ec7"
      TO_TOKEN_DECIMALS: "6"
      AMOUNT_IN: "500"
      PAIR_NAME: "MANAUSDT"
      TICKER_MANAGER: "http://localhost:8000"
    networks:
      - erc20-network
#Docker Networks
networks:
  erc20-network:
    driver: bridge
